/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/06/2015, 6:04:40 PM
    Author     : swoorup
*/

.dropdisplaywindow img{
        max-height: 300px;
        max-width: 500px;
}

.dropdisplaywindow .v-label{
        max-width: 500px;
        white-space: normal;
}

.drop-area {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        
        padding: 40px;
        border: 8px dashed #a4a4a2;
}

.drop-area .v-label {
        color: #919083;
        font-weight: bold;
        font-size: 17px;
}