.search-area {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    padding: 40px;
    border: 4px dashed #a4a4a2;
    color: #919083;
    //        font-weight: bold;
    font-size: 6px;
}

.search-area .v-label {
    color: #919083;
    font-weight: bold;
    font-size: 17px;
}

.search-textual-view {
    padding: 35px;
}

.search-result {
    padding: 12px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12pt;
	width: 40px;
    background-color: #727a7d;
    text-align: left;
    width: 100%;
    
    //content: url("http://www.oloughlins.com.au/images/icons/pdf_icon_16.gif"); 
}

.search-result .filename {
    color: #c1d1e0;
    font-weight: normal;
    font-size: 14px;
}

.search-result .highlight {
    color: #000;
    font-weight: normal;
    font-size: 10px;
}

.search-result .highlight em{
    font-weight: bolder;
    
}


.datahive-logo {
   padding-top: 18px;
   padding-bottom: 25px;
   -ms-transform: scale(0.9,0.9); /* IE 9 */
    -webkit-transform: scale(0.9,0.9); /* Safari */
    transform: scale(0.9,0.9);
    text-align: centre;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11pt;
    
}