.search-area {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    padding: 40px;
    border: 4px dashed #a4a4a2;
    color: #919083;
    //        font-weight: bold;
    font-size: 6px;
}

.search-area .v-label {
    color: #919083;
    font-weight: bold;
    font-size: 17px;
}

.search-textual-view {
    padding: 35px;
}

.search-result {
    padding: 12px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12pt;
	width: 40px;
    background-color: #727a7d;
    text-align: left;
    width: 100%;
    
    //content: url("http://www.oloughlins.com.au/images/icons/pdf_icon_16.gif"); 
}

.search-result .filename {
    color: #c1d1e0;
    font-weight: normal;
    font-size: 14px;
}

.search-result .highlight {
    color: #000;
    font-weight: normal;
    font-size: 10px;
}

.search-result .highlight em{
    font-weight: bolder;
    
}


.datahive-logo {
   padding: 0px;
   -ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Safari */
    transform: scale(0.8,0.8);
    text-align: centre;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11pt;
    
}

.dashboard .v-grid {
	position: relative;
}

.dashboard .v-grid-scroller {
	position: absolute;
	z-index: 1;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dashboard .v-grid-scroller-horizontal {
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: hidden;
	-ms-overflow-y: hidden;
}

.dashboard .v-grid-scroller-vertical {
	right: 0;
	top: 0;
	bottom: 0;
	overflow-x: hidden;
	-ms-overflow-x: hidden;
}

.dashboard .v-grid-tablewrapper {
	position: absolute;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 5;
}

.dashboard .v-grid-tablewrapper > table {
	border-spacing: 0;
	table-layout: fixed;
	width: inherit;
}

.dashboard .v-grid-header-deco, .dashboard .v-grid-footer-deco {
	position: absolute;
	right: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dashboard .v-grid-horizontal-scrollbar-deco {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dashboard .v-grid-header, .dashboard .v-grid-body, .dashboard .v-grid-footer {
	position: absolute;
	left: 0;
	width: inherit;
	z-index: 10;
}

.dashboard .v-grid-header, .dashboard .v-grid-header-deco {
	top: 0;
}

.dashboard .v-grid-footer, .dashboard .v-grid-footer-deco {
	bottom: 0;
}

.dashboard .v-grid-body {
	z-index: 0;
	top: 0;
}

.dashboard .v-grid-body .v-grid-row {
	position: absolute;
	top: 0;
	left: 0;
}

.dashboard .v-grid-row {
	display: block;
}

.v-ie8 .dashboard .v-grid-row, .v-ie9 .dashboard .v-grid-row {
	float: left;
	clear: left;
	margin-top: 0;
}

.dashboard .v-grid-row  > td, .dashboard .v-grid-row  > th {
	background-color: #3f484a;
}

.dashboard .v-grid-row {
	width: inherit;
}

.dashboard .v-grid-cell {
	display: block;
	float: left;
	padding: 2px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	font-size: 10px;
}

.dashboard .v-grid-cell.frozen {
	position: relative;
	z-index: 1;
}

.dashboard .v-grid {
	outline: none;
}

.dashboard .v-grid-scroller-vertical, .dashboard .v-grid-scroller-horizontal {
	border: 1px solid #303739;
}

.dashboard .v-grid-scroller-vertical {
	border-left: none;
}

.dashboard .v-grid-scroller-horizontal {
	border-top: none;
}

.dashboard .v-grid-tablewrapper {
	border: 1px solid #303739;
}

.dashboard .v-grid-cell {
	background-color: #3f484a;
	padding: 0 13px;
	line-height: 40px;
	text-overflow: ellipsis;
}

.dashboard .v-grid-cell  > * {
	line-height: 1.55;
	vertical-align: middle;
}

.dashboard .v-grid-cell  > div {
	display: inline-block;
}

.dashboard .v-grid-cell.frozen {
	-webkit-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
	border-right: 1px solid #303739;
}

.dashboard .v-grid-cell.frozen  + th, .dashboard .v-grid-cell.frozen  + td {
	border-left: none;
}

.dashboard .v-grid-row > td, .dashboard .v-grid-editor-cells > div {
	border-left: 1px solid #303739;
	border-bottom: 1px solid #303739;
}

.dashboard .v-grid-row > td:first-child, .dashboard .v-grid-editor-cells > div:first-child {
	border-left: none;
}

.dashboard .v-grid-row-stripe > td {
	background-color: #3d4548;
}

.dashboard .v-grid-row-selected > td {
	background: #07a9ca;
}

.dashboard .v-grid-row-focused > td {
	
}

.dashboard .v-grid-header th {
	position: relative;
	background-color: #444d50;
	font-size: 12px;
	font-weight: inherit;
	border-left: 1px solid #303739;
	border-bottom: 1px solid #303739;
	
	text-align: left;
}

.dashboard .v-grid-header th:first-child {
	border-left: none;
}

.dashboard .v-grid-header .sort-asc, .dashboard .v-grid-header .sort-desc {
	padding-right: 30px;
}

.dashboard .v-grid-header .sort-asc:after, .dashboard .v-grid-header .sort-desc:after {
	font-family: FontAwesome, sans-serif;
	content: "\f0de" " " attr(sort-order);
	position: absolute;
	right: 13px;
	font-size: 12px;
}

.dashboard .v-grid-header .sort-desc:after {
	content: "\f0dd" " " attr(sort-order);
}

.dashboard .v-grid-footer td {
	background-color: #444d50;
	font-size: 14px;
	font-weight: inherit;
	border-left: 1px solid #303739;
	border-top: 1px solid #303739;
	border-bottom: none;
	
}

.dashboard .v-grid-footer td:first-child {
	border-left: none;
}

.dashboard .v-grid-header-deco {
	border-top: 1px solid #303739;
	border-right: 1px solid #303739;
	background-color: #444d50;
}

.dashboard .v-grid-footer-deco {
	border-bottom: 1px solid #303739;
	border-right: 1px solid #303739;
	background-color: #444d50;
}

.dashboard .v-grid-horizontal-scrollbar-deco {
	background-color: #444d50;
	border: 1px solid #303739;
	border-top: none;
}

.dashboard .v-grid-cell-focused {
	position: relative;
}

.dashboard .v-grid-cell-focused:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 2px solid #07a9ca;
	display: none;
	pointer-events: none;
}

.ie8 .dashboard .v-grid-cell-focused:before, .ie9 .dashboard .v-grid-cell-focused:before, .ie10 .dashboard .v-grid-cell-focused:before {
	content: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjwvc3ZnPg==);
}

.dashboard .v-grid:focus .v-grid-cell-focused:before {
	display: block;
}

.dashboard .v-grid.v-disabled:focus .v-grid-cell-focused:before {
	display: none;
}

.dashboard .v-grid-editor {
	position: absolute;
	z-index: 20;
	overflow: hidden;
	left: 0;
	right: 0;
	border: 1px solid #303739;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-top: -1px;
	-webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
}

.dashboard .v-grid-editor-cells {
	position: relative;
	white-space: nowrap;
}

.dashboard .v-grid-editor-cells  > div {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	background: #3f484a;
}

.dashboard .v-grid-editor-cells  > div:first-child {
	border-left: none;
}

.dashboard .v-grid-editor-cells  > div  > * {
	vertical-align: middle;
	display: inline-block;
}

.dashboard .v-grid-editor-cells  > div .v-textfield, .dashboard .v-grid-editor-cells  > div .v-datefield, .dashboard .v-grid-editor-cells  > div .v-filterselect {
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
}

.dashboard .v-grid-editor-cells  > div .v-select, .dashboard .v-grid-editor-cells  > div .v-select-select {
	min-width: 100%;
	max-width: 100%;
}

.dashboard .v-grid-editor-cells .error::before {
	position: absolute;
	display: block;
	height: 0;
	width: 0;
	content: "";
	border-top: 5px solid red;
	border-right: 5px solid transparent;
}

.dashboard .v-grid-editor-cells .error, .dashboard .v-grid-editor-cells .error > input {
	background-color: #fee;
}

.dashboard .v-grid-editor-footer {
	display: table;
	height: 40px;
	border-top: 1px solid #303739;
	margin-top: -1px;
	background: #3f484a;
	padding: 0 5px;
}

.dashboard .v-grid-editor-footer  + .v-grid-editor-cells > div {
	border-bottom: none;
	border-top: 1px solid #303739;
}

.dashboard .v-grid-editor-footer:first-child {
	border-top: none;
	margin-top: 0;
	border-bottom: 1px solid #303739;
	margin-bottom: -1px;
}

.dashboard .v-grid-editor-message, .dashboard .v-grid-editor-buttons {
	display: table-cell;
	white-space: nowrap;
	vertical-align: middle;
}

.dashboard .v-grid-editor-message {
	width: 100%;
	position: relative;
}

.dashboard .v-grid-editor-message  > div {
	position: absolute;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 40px;
	top: 0;
}

.dashboard .v-grid-editor-save {
	margin-right: 4px;
}

.dashboard .v-grid-cell > .v-progressbar {
	width: 100%;
}

.dashboard .v-grid {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	background-color: #444d50;
}

.dashboard .v-grid-header .v-grid-cell {
	background-color: #444d50;
	background-image: -webkit-linear-gradient(top, #4c5659 2%, #373e41 98%);
	background-image: linear-gradient(to bottom,#4c5659 2%, #373e41 98%);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.dashboard .v-grid-footer .v-grid-cell {
	background-color: #444d50;
	background-image: -webkit-linear-gradient(top, #4c5659 2%, #373e41 98%);
	background-image: linear-gradient(to bottom,#4c5659 2%, #373e41 98%);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.dashboard .v-grid-header-deco {
	background-color: #444d50;
	background-image: -webkit-linear-gradient(top, #4c5659 2%, #373e41 98%);
	background-image: linear-gradient(to bottom,#4c5659 2%, #373e41 98%);
}

.dashboard .v-grid-footer-deco, .dashboard .v-grid-horizontal-scrollbar-deco {
	background-color: #444d50;
	background-image: -webkit-linear-gradient(top, #4c5659 2%, #373e41 98%);
	background-image: linear-gradient(to bottom,#4c5659 2%, #373e41 98%);
}

.dashboard .v-grid-row-selected  > .v-grid-cell {
	background-color: #07a9ca;
	background-image: -webkit-linear-gradient(top, #07b3d0 2%, #0594b7 98%);
	background-image: linear-gradient(to bottom,#07b3d0 2%, #0594b7 98%);
	color: #bce6ee;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
	border-color: #0c849c;
}

.dashboard .v-grid-row-selected  > .v-grid-cell-focused:before {
	border-color: #3fd9f8;
}

.dashboard .v-grid-editor {
	-webkit-box-shadow: 0 0 3px 2px #07a9ca;
	box-shadow: 0 0 3px 2px #07a9ca;
	border-color: #07a9ca;
}

.dashboard .v-grid-editor-footer {
	font-size: 14px;
	padding: 0 7px;
	background: #444d50;
	-webkit-animation: valo-grid-editor-footer-animate-in 200ms 120ms backwards;
	-moz-animation: valo-grid-editor-footer-animate-in 200ms 120ms backwards;
	animation: valo-grid-editor-footer-animate-in 200ms 120ms backwards;
}

.dashboard .v-grid-editor-footer:first-child {
	-webkit-animation: valo-grid-editor-footer-animate-in-alt 200ms 120ms backwards;
	-moz-animation: valo-grid-editor-footer-animate-in-alt 200ms 120ms backwards;
	animation: valo-grid-editor-footer-animate-in-alt 200ms 120ms backwards;
}

.dashboard .v-grid-editor-cells {
	z-index: 1;
}

.dashboard .v-grid-editor-cells > div:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.dashboard .v-grid-editor-cells > div .error::before {
	border-top: 10px solid #ed473b;
	border-right: 10px solid transparent;
}

.dashboard .v-grid-editor-cells > div .error, .dashboard .v-grid-editor-cells > div .error > input {
	background-color: #fffbfb;
}

.dashboard .v-grid-editor-cells > div .v-textfield, .dashboard .v-grid-editor-cells > div .v-textfield-focus, .dashboard .v-grid-editor-cells > div .v-datefield, .dashboard .v-grid-editor-cells > div .v-datefield .v-textfield-focus, .dashboard .v-grid-editor-cells > div .v-filterselect-input, .dashboard .v-grid-editor-cells > div .v-filterselect-input:focus {
	border: none;
	border-radius: 0;
	background: transparent;
	-webkit-box-shadow: inset 0 2px 2px #40484b;
	box-shadow: inset 0 2px 2px #40484b;
}

.dashboard .v-grid-editor-cells > div .v-textfield-focus, .dashboard .v-grid-editor-cells > div .v-datefield .v-textfield-focus, .dashboard .v-grid-editor-cells > div .v-filterselect-input:focus {
	position: relative;
}

.dashboard .v-grid-editor-cells > div .v-select {
	padding-left: 7px;
	padding-right: 7px;
}

.dashboard .v-grid-editor-cells > div .v-checkbox {
	margin: 0 7px;
}

.dashboard .v-grid-editor-cells > div .v-checkbox label {
	white-space: nowrap;
}

.dashboard .v-grid-editor-message > div:before {
	display: inline-block;
	color: #ed473b;
	font-weight: 600;
	width: 20px;
	text-align: center;
	content: "!";
}

.dashboard .v-grid-editor-save, .dashboard .v-grid-editor-cancel {
	cursor: pointer;
	color: #07a9ca;
	text-decoration: underline;
	font-weight: inherit;
	-webkit-transition: color 140ms;
	-moz-transition: color 140ms;
	transition: color 140ms;
	font-weight: 500;
	text-decoration: none;
	border: none;
	background: transparent;
	padding: 7px 7px;
	margin: 0;
	outline: none;
}

.dashboard .v-grid-editor-save:hover, .dashboard .v-grid-editor-cancel:hover {
	color: #0dcff7;
}

.dashboard .v-grid-editor-save.v-disabled, .dashboard .v-grid-editor-cancel.v-disabled {
	opacity: 0.5;
	filter: alpha(opacity=50) ;
}

.dashboard .v-grid-scroller::-webkit-scrollbar {
	border: none;
}

.dashboard .v-grid-scroller::-webkit-scrollbar-thumb {
	border-radius: 10px;
	border: 4px solid transparent;
	background: rgba(255, 255, 255, 0.3);
	-webkit-background-clip: content-box;
	background-clip: content-box;
}

.dashboard .v-grid-scroller-vertical::-webkit-scrollbar-thumb {
	min-height: 30px;
}

.dashboard .v-grid-scroller-horizontal::-webkit-scrollbar-thumb {
	min-width: 30px;
}