<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10.0,&quot;PAPER_WIDTH&quot;:1440,&quot;PAPER_HEIGHT&quot;:900,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
 </head> 
 <body> 
  <v-absolute-layout> 
   <v-form-layout width="796px" height="405px" margin="" :top="245px" :left="335px"> 
    <v-text-field caption="Title" width="360px" height="37px" _id="title"></v-text-field> 
    <v-text-field caption="Author" _id="author"></v-text-field> 
    <v-text-field caption="File Type" _id="fileType"></v-text-field> 
    <v-text-field></v-text-field> 
    <v-date-field caption="Date Created" _id="dateCreated"></v-date-field> 
    <v-date-field caption="Date Modified" _id="dateModified"></v-date-field> 
    <v-date-field caption="Date Uploaded" _id="dateUploaded"></v-date-field> 
   </v-form-layout> 
   <v-upload caption="Select Document to Upload" description="dssdfsdf" width="293px" height="73px" :top="95px" :left="335px" _id="boxUpload"></v-upload> 
  </v-absolute-layout>  
 </body>
</html>