<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10.0,&quot;PAPER_WIDTH&quot;:1440,&quot;PAPER_HEIGHT&quot;:900,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
 </head> 
 <body> 
  <v-absolute-layout> 
   <v-button plain-text="" :top="2699px" :left="2709px">
     Button 
   </v-button> 
   <v-button plain-text="" :top="312px" :left="603px" _id="btnLogin">
     Submit 
   </v-button> 
   <v-label caption="Password:" size-auto="true" plain-text="" :top="277px" :left="468px" _id="pWLbl"></v-label> 
   <v-password-field :top="256px" :left="556px" _id="pwFld"></v-password-field> 
   <v-text-field :top="198px" :left="556px" _id="usrNmeFld"></v-text-field> 
   <v-label caption="Username:" width-auto="true" height="20px" plain-text="" :top="221px" :left="468px" _id="usrNmeLbl"></v-label> 
  </v-absolute-layout>  
 </body>
</html>