<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10.0,&quot;GRID_TYPE&quot;:&quot;RegularGrid,7&quot;,&quot;PAPER_WIDTH&quot;:1441.0,&quot;PAPER_HEIGHT&quot;:900.0,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
 </head> 
 <body> 
  <v-absolute-layout> 
   <v-button plain-text="" :top="362px" :left="936px">
     Button 
   </v-button> 
   <v-button plain-text="" :top="266px" :left="1104px">
     Button 
   </v-button> 
   <v-accordion width="329px" height="301px" :top="77px" :left="63px"> 
    <tab caption="Tab" selected="true"> 
     <v-text-area width="328px"></v-text-area> 
    </tab> 
    <tab caption="Tab"> 
     <v-tree></v-tree> 
    </tab> 
   </v-accordion> 
   <v-panel width="364px" height="532px" :top="70px" :left="462px"> 
    <v-label width="62px" plain-text="">
      Label 
    </v-label> 
   </v-panel> 
   <v-vertical-split-panel width="645px" height="630px" :top="49px" :left="664px"></v-vertical-split-panel> 
  </v-absolute-layout>  
 </body>
</html>