<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;PAPER_WIDTH&quot;:460,&quot;PAPER_HEIGHT&quot;:528,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;dashboard&quot;}">
 </head> 
 <body> 
  <v-panel size-full="true"> 
   <v-vertical-layout size-auto="true"> 
    <v-upload caption="Select Document to Analyze" description="Analyze" width-full="true" height="40px" _id="boxUpload"></v-upload> 
    <v-text-field caption="Title" width="442px" _id="txtTitle"></v-text-field> 
    <v-text-field caption="File Type" width="442px" _id="txtFileType"></v-text-field> 
    <v-text-field caption="Author" width="442px" _id="txtAuthor"></v-text-field> 
    <v-date-field caption="Date Created" width="442px" _id="txtDateCreated"></v-date-field> 
    <v-date-field caption="Date Modified" width="442px" _id="txtDateModified"></v-date-field> 
    <v-date-field caption="Date Uploaded" width="442px" _id="txtDateUploaded"></v-date-field> 
    <v-text-area></v-text-area> 
   </v-vertical-layout> 
  </v-panel>  
 </body>
</html>