<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>
        <asp:ContentPlaceHolder id="title" runat="server"> </asp:ContentPlaceHolder>
    </title>
    <asp:ContentPlaceHolder id="head" runat="server"> </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
       <div id="fixedheader">Header(inprogess)</div>
            <h1>KBL Optika</h1>

        <asp:ContentPlaceHolder id="Content1" runat="server">
        </asp:ContentPlaceHolder>

        <div id="fixedfooter">Created by HiveSys (footer in progess)</div>
    </form>
</body>
</html>
